-- DIAGNÓSTICO RLS TAX_PAYMENTS
-- Verificar políticas activas
SELECT 
    schemaname,
    tablename,
    policyname,
    permissive,
    roles,
    cmd,
    qual
FROM pg_policies 
WHERE tablename = 'tax_payments'
ORDER BY policyname;

-- Verificar si RLS está habilitado
SELECT 
    schemaname,
    tablename,
    rowsecurity
FROM pg_tables 
WHERE tablename = 'tax_payments';

-- Verificar datos existentes (sin RLS)
SELECT COUNT(*) as total_payments FROM tax_payments;

-- Verificar estructura de user_profiles
SELECT 
    id,
    email,
    role,
    company_id
FROM user_profiles 
LIMIT 5;
